@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* font-family: 'TT Norms Pro'; */
  font-family: 'Inter';
  font-weight: bold;
}
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;

  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}
.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}

.nav-link {
  cursor: none;
}

a {
  cursor: none;
  color: #fefefe;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #4cc790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

html,
body {
  cursor: none;
  /* background-color: #121212; */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.fullscreen-bg {
  position: fixed;
  /* opacity: -1; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: transparent !important;

  /* padding: 10px 10px; */
}

.fullscreen-bg__video {
  position: fixed;
  /* left: 22.5em; */
  top: 2.5em;
  height: 100%;
  background: transparent !important;
  width: 100%;
  background-size: cover;
  filter: blur(10px) brightness(0.3);
  /* filter: blur(7px) brightness(0.3) saturate(0.5) hue-rotate(45deg); */
  transform: scale(1);
}

.navbar-brand {
  font-weight: 700 !important;
  font-size: 25px;
  font-style: italic;
}

.navbar-nav a:hover {
  text-decoration: none !important;
}

.navbar {
  margin-bottom: 20px;
}

.box__swiping {
  transform: rotate(15deg);
  transition: all 150ms;
}

.react-switch {
  margin-left: -28px !important;
}
.swipe {
  position: absolute;
}

.cardContainer {
  /* width: 90vw; */
  max-width: 260px;
  margin: auto;
  /* height: 300px; */
  height: 520px;
  width: 270px;
}

.card {
  position: relative;
  background-color: #fff;
  max-width: 260px;
  height: 500px;
  width: 250px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
