.test {
  color: rebeccapurple;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}
* {
  font-family: Inter;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-corner {
  background-color: #404040;
}
::-webkit-scrollbar-track {
  background-color: #404040;
}
::-webkit-scrollbar-thumb {
  background-color: #606060;
  background-clip: padding-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}
::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}
.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor--hidden {
  opacity: 0;
}
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}
.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}
.nav-link {
  cursor: none;
}
a {
  cursor: none;
  color: #fefefe;
}
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}
.circle {
  stroke: #4cc790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}
html {
  cursor: none;
}
body {
  cursor: none;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: transparent !important;
}
.fullscreen-bg__video {
  top: 2.5em;
  height: 100%;
  background: transparent !important;
  width: 100%;
  background-size: cover;
  filter: blur(10px) brightness(0.3);
  transform: scale(1);
}
.navbar-brand {
  font-weight: 700 !important;
  font-size: 25px;
  font-style: italic;
}
.navbar {
  margin-bottom: 20px;
  background: none !important;
  background-image: none !important;
}
.navbar-default {
  background-image: none !important;
}
.box__swiping {
  transform: rotate(15deg);
  transition: all 150ms;
}
.react-switch {
  margin-left: -28px !important;
}
.swipe {
  position: absolute;
}
.cardContainer {
  max-width: 260px;
  margin: auto;
  height: 520px;
  width: 270px;
}
.card {
  position: relative;
  background-color: #fff;
  max-width: 260px;
  height: 500px;
  width: 250px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}
.cardContent {
  width: 100%;
  height: 100%;
}
.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}
.buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.buttons button:hover {
  transform: scale(1.05);
}
@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
::-webkit-scrollbar-button:single-button {
  background-color: #404040;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
.navbar-nav a:hover {
  text-decoration: none !important;
}
