@import url('../assets/fonts/TTNormsPro/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* font-family: 'TT Norms Pro'; */
  font-family: 'Inter';
  font-weight: bold;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.fullscreen-bg {
  position: fixed;
  /* opacity: -1; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background: transparent !important;

  /* padding: 10px 10px; */
}

.fullscreen-bg__video {
  position: fixed;
  /* left: 22.5em; */
  top: 2.5em;
  height: 100%;
  background: transparent !important;
  width: 100%;
  background-size: cover;
  /* filter: blur(10px) brightness(0.3); */
  filter: blur(7px) brightness(0.3) saturate(0.5) hue-rotate(45deg);
  transform: scale(1);
}

.navbar-brand {
  font-weight: 700 !important;
  font-size: 25px;
  font-style: italic;
}

.navbar-nav a:hover {
  text-decoration: none !important;
}

.navbar {
  margin-bottom: 20px;
}

.box__swiping {
  transform: rotate(15deg);
  transition: all 150ms;
}
