.login__panel {
  margin-top: 20px;
}

.login__card {
  background: #16161a;
  width: 500px;
  margin: auto;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.login__email__input {
  background: #ededed url(../assets/icons/user.svg) no-repeat 9px center;
  padding: 1px 0px 0px 33px;
}
