.search__div {
  display: grid;
  justify-content: center;
}

.search__title {
  margin-top: 15px;
  text-align: center;
}

.search__btn {
  background: #ededed url(../assets/icons/search.svg) no-repeat 9px center;
  padding: 9px 10px 9px 32px;
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 40px;

  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.search__form {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  margin-left: 260px;
}

@media (min-width: 762px) {
  .search__btn {
    background: #ededed url(../assets/icons/search.svg) no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    margin-top: 20px;
    display: block;
    margin-right: 160px;
    width: 280px;
    margin-left: -3px;

    margin-left: 18px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .search__btn:focus {
    width: 400px;
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
  .search__btn:hover {
    width: 400px;
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
}

@media (min-width: 682px) {
  .search__state {
    align-self: flex-end;
    padding-top: 29px;
    font-size: 19px;
    width: 100px;
  }
}

.search__state {
  align-self: flex-end;
  padding-top: 29px;
  font-size: 19px;
  width: 100px;
}

.search__swtiches {
  display: inline-flex;
  align-items: center;
}

.search__current {
  border-color: #66cc75;
  /* text-shadow: 0 0 5px rgba(109, 207, 246, 0.5); */
  text-shadow: 0 0 5px rgba(129, 92, 240, 0.5);
}
.results li {
  list-style: none;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

/* Card */

.search__results__item {
  background-color: #242629;
  width: 250px;
  text-align: center;
  height: 325px;
  margin-left: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search__results__item__track {
  background-color: #242629;
  width: 250px;
  text-align: center;
  height: 400px;
  position: relative;
  margin-left: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.search__results__item__wrapper {
  padding-top: 10px;
  color: #94a1b2 !important;
}

.search__results__img {
  text-align: center;
}

.search__results__img__self {
  border-radius: 100px;
  text-align: center;
  filter: drop-shadow(-9px 6px 27px rgba(0, 0, 0, 0.8));
}

.search__results__name {
  color: #fffffe !important;
  text-align: center;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 500;
}

.search__results__spotify {
  color: #fffffe;
  font-weight: 500;
}

.search__results__spotify__player {
  position: absolute;
  bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.search__results__spotify__player iframe {
  justify-content: flex-end;
}

/* .search__results__artists {
  height: 50px;
} */
