@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Bold.eot');
  src: local('TT Norms Pro Bold'), local('TTNormsPro-Bold'),
    url('TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Bold.woff2') format('woff2'),
    url('TTNormsPro-Bold.woff') format('woff'),
    url('TTNormsPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-ExtraBoldItalic.eot');
  src: local('TT Norms Pro ExtraBold Italic'),
    local('TTNormsPro-ExtraBoldItalic'),
    url('TTNormsPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-ExtraBoldItalic.woff2') format('woff2'),
    url('TTNormsPro-ExtraBoldItalic.woff') format('woff'),
    url('TTNormsPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-ExtraBold.eot');
  src: local('TT Norms Pro ExtraBold'), local('TTNormsPro-ExtraBold'),
    url('TTNormsPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-ExtraBold.woff2') format('woff2'),
    url('TTNormsPro-ExtraBold.woff') format('woff'),
    url('TTNormsPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Regular.eot');
  src: local('TT Norms Pro Regular'), local('TTNormsPro-Regular'),
    url('TTNormsPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Regular.woff2') format('woff2'),
    url('TTNormsPro-Regular.woff') format('woff'),
    url('TTNormsPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-MediumItalic.eot');
  src: local('TT Norms Pro Medium Italic'), local('TTNormsPro-MediumItalic'),
    url('TTNormsPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-MediumItalic.woff2') format('woff2'),
    url('TTNormsPro-MediumItalic.woff') format('woff'),
    url('TTNormsPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Medium.eot');
  src: local('TT Norms Pro Medium'), local('TTNormsPro-Medium'),
    url('TTNormsPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Medium.woff2') format('woff2'),
    url('TTNormsPro-Medium.woff') format('woff'),
    url('TTNormsPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-BoldItalic.eot');
  src: local('TT Norms Pro Bold Italic'), local('TTNormsPro-BoldItalic'),
    url('TTNormsPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-BoldItalic.woff2') format('woff2'),
    url('TTNormsPro-BoldItalic.woff') format('woff'),
    url('TTNormsPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('TTNormsPro-Italic.eot');
  src: local('TT Norms Pro Italic'), local('TTNormsPro-Italic'),
    url('TTNormsPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('TTNormsPro-Italic.woff2') format('woff2'),
    url('TTNormsPro-Italic.woff') format('woff'),
    url('TTNormsPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
